@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: #18e7cf;
}
/* .btn:hover {
    background-color: #18e7cf;
} */
